/build-2ndProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-FirstProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-QuickSort-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-3rdProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-4thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-5thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-6htProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-7thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-8thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-9thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-QuickSort-Desktop-Debug/

/build-1stProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-10thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-11thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-12thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-13thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-14hProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-15thProbelm-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-16thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-14thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-17thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-18thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-19thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-20thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-21thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-22thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-23thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-24thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
