/build-2ndProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-FirstProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-QuickSort-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-3rdProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-4thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-5thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-6htProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-7thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-8thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-9thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-QuickSort-Desktop-Debug/

